/*Iphone 4, 4s*/

@media only screen and (max-width: 700px) {
	html, body.iphone, .iphone #main, .iphone #cont, .iphone .outer{height:108%; overflow: hidden; }
  .iphone .bg, .iphone .holder{background: none!important; height: 118%; width:100%; top:0!important; left:0!important;  margin-left:0;}
  .iphone .holder img{height:106% !important; width:100%; top:-6%; left:0; position: absolute;}
}